<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <h2>Register Here</h2>
            <ul>
                <li><a href="/">Form</a></li>
                <li><a href="/people">People</a></li>
                <li><a href="/people/singleid">Search</a></li>
            </ul>
        </nav>
    </header>
    <h1 style="display: flex;justify-content:center;text-shadow: 8px 8px 10px rgba(255, 248, 220, 1);margin-bottom:40px">People Registered here:</h1><hr>
    <table style="width:100%">
        <tr style="background-color: black; color:cornsilk;">
          <th style="padding:2.5px; width: 20%;" rowspan="1">Name</th>
          <th style="padding:2.5px; width: 20%;" rowspan="1">Class</th>
          <th style="padding:2.5px; width: 20%;" rowspan="1">Email</th>
          <th style="padding:2.5px; width: 20%;" rowspan="1">Resident location</th>
          <th style="padding:2.5px; width: 20%;" rowspan="1">Gender</th>
        </tr>
        
        <% persons.forEach(i=>{ %>
        <tr>
          <td><%= i.name %></td>
          <td><%= i.class %></td>
          <td><%= i.email %></td>
          <td><%= i.address %></td>
          <td><%= i.gender %></td>
        </tr> 
        <% }) %>
    </table>
</body>
</html>